*{

    margin: 0;
    padding: 0;
}

.quarter{
background-color:blue;
width:25%;
display:inline-block;
color:white;
border:3px solid green;
box-sizing: border-box;
position:absolute;
top:100px;
left:100px;

.window{
    background-color:blue;
    height: 300px;
    overflow: scroll;
}

}
#grid-container {
    display: grid;
    width: 50em;
    height:50em;
    background-color: black;
    
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;

  }


.money{
    position:absolute;
    color:black;
    left:30px;
    bottom:100px;
    padding-bottom: 30%;
    
}
.reel{
    border:3px solid green;
    border-radius:20px;
    text-align:centre;
   scroll-behavior: auto;
    height:60px;
    overflow-y:hidden;
    display:inline-block;
    width:50px;
    margin:2em;
    font-size:40px;
    background-color: black;

}
#button{
background-color: black;
color:white;
width:50px;


}